.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: poppins;
}

button{
  padding: 14px;
  height: 10px  ;
  width: 140px;
  font-size: large;
  font-weight:500;
  border-radius: 30px;
  background-color: #4a148c;
  color: white;
  border: none;
}

.dashleft{
  font-family: poppins;
  background-color: #4a148c;
  color: white;
  position: sticky;
  height: 100vh;
  padding: 15px;
}
.span{
  padding: 5px;
  padding-top: 50px;
  font-size: large;
  opacity: 70%;
}
hr{
  opacity: 70%;
}
table{
  margin-top: 30px;
}
.thead{
  background-color: #4a148c;
  color:white;
  border: 2px solid rgb(255, 255, 255);
  
}
.delete{
  margin-left: 30px;
}
